body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.form-container {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input[type="file"] {
    display: none;
}

 .form-group .text {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.form-group:nth-child(4) label, .form-group:nth-child(5) label, .form-group:nth-child(6) label {
    display: block;
    width: 93%;
    padding: 10px;
    height: 16px;
    color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color .3s ease;

    &:hover {
        background-color: #ddd;
    }
}

.form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
}

.form-group input[type="text"]:focus, .form-group input[type="file"]:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.submit-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #4a90e2;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #357abd;
}