* {
    margin: 0;
}

:root {
    --size: 230px;
    --buttons-size: 90px;
    --buttons-img-size: 50px;
}

main {
    position: relative;
    overflow: hidden;
}

.title-container {
    display: flex;
    text-align: center;
}

.title {
    font-size: 45px;
    font-family: 'Russo One', sans-serif;
    align-self: center;
}

.back-button {
    position: absolute;
    top: 2%;
    left: 1%;
    height: 45px;
    width: 45px;
    display: none;
    transition: all .2s ease-in-out;
}

.back-button:hover {
    height: 55px;
    width: 55px;
}

@media screen and (min-width: 700px) and (min-height: 900px) {
    :root {
        --size: 400px;
        --buttons-size: 140px;
        --buttons-img-size: 80px;
    }

    .title {
        font-size: 65px;
    }
    
    .title-container {
        height: 355px;
    }
}

@media screen and (min-width: 700px) {
    .back-button {
        display: block;
    }
}

@media screen and (min-width: 200px) and (max-width: 300px) and (min-height: 350px) and (max-height: 550px) {
    .title {
        font-size: 35px;
    }

    :root {
        --size: 160px;
        --buttons-size: 65px;
        --buttons-img-size: 35px;
    }
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(160, 160, 160);
}

.front-face {
    width: var(--size);
    height: var(--size);
    z-index: 1;
    border: 3px solid black;
}

.disk {
    width: var(--size);
    height: var(--size);
    z-index: -1;
    position: absolute;
    left: 0%;
    animation: none;
    transition: left cubic-bezier(0, 0.45, 0.35, 1) 1s;
}

.disk-active {
    left: 40%;
    animation: rotate 1.5s linear infinite;
}

.container {
    display: flex;
    place-content: center;
}

.disk-container {
    width: 100vw;

}

.controls {
    width: 100vw;
    position: fixed;
    bottom: 0%;
    padding: 0.5%;
    border-top: solid rgb(54, 54, 54) 7px;
    background: linear-gradient(90deg, rgba(102,102,102,1) 0%, rgba(100,100,100,1) 50%, rgba(97,97,97,1) 100%);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.disk-box {
    display: flex;
    position: relative;
    width: var(--size);
    height: var(--size);
    transition: margin-right cubic-bezier(0, 0.45, 0.35, 1) 1s;
}

.controll-button img {
    width: var(--buttons-img-size);
    height: var(--buttons-img-size);
    pointer-events: none;
}

.controls-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.replay-button img {
    width: var(--buttons-img-size);
    height: var(--buttons-img-size);
    pointer-events: none;
}

.replay-button {
    width: var(--buttons-size);
    height: var(--buttons-size);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#play-button img {
    margin-left: 6.5px;
}

#stop-button {
    margin-left: 8px;
}

#stop-button img {
    margin-left: 1px;
}

.controll-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--buttons-size);
    height: var(--buttons-size);
    border-radius: 50%;
    background-color: rgb(59 59 194);
    border: solid black 1px;
}

